///////////////////////
/*  ---Needed---  */
///////////////////////
/*
:right ---> :$right
-right ---> -#{$right}
right: ---> #{$right}:

:left  ---> :$left
-left  ---> -#{$left}
left:  ---> #{$left}:

@if ($right == right) {}
@if ($right == left) {}

@include fontSize(16px);

@include breakpoint(isLaptop){}
@include breakpoint(isLaptopHR){}
@include breakpoint(isLaptopLR){}
@include breakpoint(isTab){}
@include breakpoint(isTabLR){}
@include breakpoint(isMob){}
@include breakpoint(isMobHR){}
@include breakpoint(isMobLR){}
@include breakpoint(isIphoneX){}
*/

///////////////////////
/*  ---Variables---  */
///////////////////////

// Text Colors:
$mainColor: mainColor;
$secondColor: secondColor;
$thirdColor: thirdColor;

// Background Colors:
$mainBGColor: mainBGColor;
$secondBGColor: secondBGColor;
$thirdBGColor: thirdBGColor;


////////////////////
/*  ---Mixins---  */
////////////////////

/*  ---Break Points---  */

@mixin breakpoint($point) {

	/************************ Laptop ************************/

    @if $point == isDesktop {
        @media (max-width: 2920px) { @content; }
		//All
    }

	// General
    @if $point == isLaptop {
        @media (max-width: 1680px) { @content; }
		//All
    }

	// High resolution
    @else if $point == isLaptopHR {
        @media (min-width: 1450px) and (max-width: 1680px) { @content; }
		//1560-1600-1680
    }

	// Low resolution
    @else if $point == isLaptopLR {
        @media (max-width: 1440px) { @content; }
		//1280-1360-1366-1440
    }


	/************************ Tablet ************************/

	// Tab
    @else if $point == isTab {
        @media (max-width: 1024px) { @content; }
		//768-1024
    }

	// Low resolution
    @else if $point == isTabLR {
        @media (max-width: 815px) { @content; }
		//768
    }


	/************************ Mobile ************************/

	// General
    @else if $point == isMob {
        @media (max-width: 736px) { @content; }
		//All
    }

	// High resolution
    @else if $point == isMobHR {
        @media (min-width: 415px) and (max-width: 736px) { @content; }
    }

	// Low resolution
    @else if $point == isMobLR {
        @media (max-width: 414px) { @content; }
    }

	// iPhone 5 portrait
    @else if $point == isIphoneX {
        @media (max-width: 320px) { @content; }
    }

	// iPhone X landscape
    @else if $point == isIphoneX {
        @media (max-width: 813px) and (max-height: 375px) { @content; }
    }

}


/*  ---Font Size---  */

@mixin fontSize($size) {
	font-size: $size; // Fallback in px.
	font-size: ($size / 14px) * 1rem;
}

///////////////////////////////
/*  ---Importing plugins---  */
//////////////////////////////

@import "plugins/_bootstrap.scss";


////////////////////
/*  ---Reset---  */
///////////////////
$primary-color : #bd9d50;
$secondary-color : #4d4d4c;
$third-color : #7b8591;

@media (min-width: 1600px){
	.container {
		width: 1570px;
	}
}

* {
    font-family: mainFont , sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    font-size: 15px;
    &:hover , &:focus {
        text-decoration: none;
        outline: 0;
    }
}

a {
    color:#fff;
    &:hover{
        color:#fff;
    }
    &:focus{
        color:#fff;
    }
    &:active{
        color:#fff;
    }
    &:visited{
        color:#fff;
    }
}
button{
    outline:none;
    &:focus {
        text-decoration: none;
        outline: 0 !important;
    }
}
button::-moz-focus-inner {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: mainFont;
}
#layout{
    background: #f0f0f0;
}
#s4-bodyContainer{
	padding-bottom: 0 !important;
}
.card-carousel{
    padding:0 !important;
    .card-icon{
        width:20%;
        display: inline-block;
        position: relative;
        top: -25px;
        #{$right}: 75%;
        img{
            max-width: 100%;
        }
    }
    .carousel-indicators{
        bottom: 10px;
        #{$left}:34%;
        li{
            background-color: #e2d5b6;
            border:0;
        }
        .active{
            background-color:$primary-color;
        }
    } 
}
.force-overflow{
	min-height: 450px;
}
.scrollbar{
	margin-left: 0;
	float: left;
    height: 127px;
	width: 100%;
	overflow-y: scroll;
}
.weather{
    background: url('../../images/sea.jpg') no-repeat;
    background-size: cover;
}
.pray{
    background: url('../../images/mosque.jpg') no-repeat;
    background-size: cover;
    .time{
        border-bottom:1px solid #fff;
        margin-bottom:0;
        line-height: 0.8em;
        span{
            margin:6px 3px;
            display: inline-block;
        }
        .timing{
            font-family: sans-serif;
            width:43%;
        }
    }
}
.sans{
    font-family: sans-serif !important;
}
.document{
    border-bottom: 1px solid #eaeaea;
    width: 99%;
    background: url(../../images/download.svg) no-repeat;
    background-position: 1% -1px;
    padding: 6px;
    background-size: 30px;
}
.weather-widget {
    .weather-widget-img{
        text-align:center;
    }
    img {
        @include breakpoint(isTabLR) {
            max-width:100px;
            display: inline-block;
        }
    }
}
#style-1::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#third-carousel, #fourth-carousel{
    .carousel-inner{
        min-height:158px;
        .item{
            //max-height: 280px;
            overflow: hidden;
        }
    }
    .carousel-indicators {
        bottom: -10px;
        li{
            background-color: #e2d5b6;
            border:0;
        }
        .active{
            background-color:$primary-color;
        }
    }
}
.last-doubleSlider{
    min-height:300px !important;
    @include breakpoint(isTab){}
    .carousel-indicators{
        display: block;
    }

}
#fourth-carousel {
    .carousel-inner{
        .item{
            max-height: auto !important;
        }
    }
    .carousel-indicators {
        bottom: -37px;
        li {
            width: 50px;
            height:4px;
            background-color: #e5e5e5;
            border:1px solid #000;
        }
        .active{
            background-color:$primary-color;
        }
    }
}

.brd {
    border:1px solid #eaeaea;
    padding-top:20px;
}
.carousel-box {
    padding-top:15px;
    min-height: 200px;
}
.date-controles-carousel{
    padding-top:15px;
    span {
        padding: 0 17px;
    }
}
.widget{
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
  padding:30px 15px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  &.falt-pad{
    padding:0; 
  }  
  &.upper-widgets{
      min-height:360px;
      @include breakpoint(isDesktop){
        min-height:430px
      }
      @include breakpoint(isLaptop){
        min-height:390px
      }
  }
}
.homeContent{
    min-height: 800px;
    margin-top: 90px;
}
a , button{
    text-decoration: none;
    outline: 0;
    &:hover , &:focus {
        text-decoration: none;
        outline: 0;
    }
}

li{
    list-style: none;
}
.overflow-fix{
    overflow: auto;
}
svg{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h5,h6,p,a,span,div,li,label{
    font-family: 'GE Flow';
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.noPadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.midPadding{
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
}
.mb0{
    margin-bottom:0;
}
.mb1{
    margin-bottom: 1rem;
}
.mt1{
    margin-top: 1rem;
}
.mb2{
    margin-bottom: 2rem;
}
.mt2{
    margin-top: 2rem;
}
.mb3{
    margin-bottom: 3rem;
}
.mt3{
    margin-top: 3rem;
}
.mb4{
    margin-bottom: 4rem;
}
.mt4{
    margin-top: 4rem;
}
.p2 {
    padding:15px;
}
.pb0{
 padding-bottom:0;
}

.navbar{
    margin-bottom:0;
}
.other {
    font-family: sans-serif
}
.grey{
    color:$secondary-color;
}
.round-corner {
    border-radius: 8px;
}
.center-out{
    float: none !important;
    margin:auto !important;
}
.controles{
    ul{
        li{
            display: inline-block;
            width:49%;
        }
    }
}
#navbar-primary{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
}
.main-color{
    color:$primary-color;
    &:hover{
        color:$primary-color !important;
    }
}
.image-circle{
    border-radius: 100%;
    &.avatar{
        max-width:30% !important;
    }
}
.control-icons{
    padding:15px 0;
    ul{
        width:50%;
        text-align:center;
        li {
            display: inline-block;
            width:17%;
            margin:6px;
        } 
    }
}
.navbar-header {
    @include breakpoint(isMob){
        // background:url(../../images/Logo.png) no-repeat!important ;
        // background-position: center top   
    }
    .navbar-toggle{
        border:1px solid grey !important;
        position: relative;
        #{$right}:15px;
        span{
            background:grey !important
        }
    }
}
#navbar-primary .navbar-nav { 
      width: 100%;
      margin:0;
      text-align: center;
      position: relative;
      background-color: rgb(255, 255, 255);
    //   box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
      padding: 25px 5px;
      margin-bottom:0 !important;
      .left-menu-section{
          ul{
              text-align:left;
              @include breakpoint(isMob){
                display: block;
                text-align: center;
            }
          }
      }
      .right-menu-section{
          @include breakpoint(isDesktop){
              text-align:right;
          }
        li{
            &:before{
                content:'|';
            }
            a {
                color:$secondary-color !important;
                font-size: 12px;
                  &:hover {
                      color:$primary-color !important;
                  }
                  &.active{
                    color:$primary-color !important;
                  }
              }
        }
      }
      .icon-nav-bar{
        max-width: 25px;        
        @include breakpoint(isTabLR){
            display: block;
            margin:auto;
        }
      }
      .responsive-logo{
          display: none;
          @include breakpoint(isTabLR){
            display: block;
            position: relative;
        }
      }
      .logo{
          a {
              position: absolute;
              display: block;
              width:80%;
              background-color: #ffff;
              border-radius: 8px;
              padding: 20px;
              top: -35px;
              //box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
              @include breakpoint(isTabLR){
                display: none;
                position: relative;
                top: 0px;
            }
            img {
                position: relative;
                max-width: 100% !important;
            } 
          }
       
      }
      ul{
          margin-bottom:0; 
          li {
              display: inline-block;
              float: none;
              &.no-dash{
                &:before{
                    content:'';
                    color:$secondary-color;
                  }
              }
              @include breakpoint(isTabLR){
                display:block
              }
              a {
                  color:#000;
                  padding-right: 10px;
                  font-size: 12px;
                }
            }
        } 
    }

    #secondCarousel {
        .cont-slider{
            min-height: 205px;
        }
        .carousel-indicators {
        //    bottom: -110px;
        //    left: 10px;
        //    margin-left: 5px;
        //    width: 100%;
        left: 10px;
        margin-left: 5px;
        width: 100%;
        position: relative;
        margin-top: 68px;
        overflow: auto;

        @include breakpoint(isLaptop){
            margin-top: 13%;
        }
        @include breakpoint(isMob){
            
        }
        @include breakpoint(isDesktop){
            margin-top: 6%;
            overflow: auto;
            margin-bottom:0;
        }

       }
         .carousel-indicators {
            li {
               border: medium none;
               border-radius: 0;
               float: left;
               height: 80px;
               width: 80px;
               margin-bottom: 5px;
               margin-left: 0;
               margin-right: 5px !important;
               margin-top: 0;
           }   
           img {
               border: 2px solid #FFFFFF;
               float: left;
               left: 0;
           }
           .active{
             img {
                 border: 2px solid #39b3d7;
             }
           } 
         }  
       }
       
       .carousel-fade {
           .carousel-inner {
               .item {
                   transition-property: opacity;
                   min-height: 150px;
               }
               
               .item,
               .active.left,
               .active.right {
                   opacity: 0;
               }
       
               .active,
               .next.left,
               .prev.right {
                   opacity: 1;
               }
       
               .next,
               .prev,
               .active.left,
               .active.right {
                   left: 0;
                   transform: translate3d(0, 0, 0);
               }
           }
           .carousel-control {
               z-index: 2;
           }
       }

      .overlay {
        width: 100%;
        height: 100%;
        display: block;
        background-color: black;
      }
// five even columns 
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
    padding:7.5px;
    @include breakpoint(isTabLR){
        width: 50%;
    }
    @include breakpoint(isMob){
        width: 100%;
    }
}
div[class^="col-"]{
    
}
.logo{
    overflow:visible !important;
}
.block{
    padding:20px 6px;
    height: 200px;
    border-radius: 8px;
    @include breakpoint(isTab){
        height: 270px;
    }
    img{
        position: relative;
        // left:6px;
    }
}
.block-grey{
    background: #616161;
}
.text-white{
    color:#fff;
}
.text-black{
    color:#000;
}
.btn-drop{
    background: transparent;
    color: #fff;
    &:hover{
        color: #fff;

    }
}

.block-blue{
    background: #0aacdc;
}
.block-green{
    background: #098611;
}
.block-orange{
    background: #bd9d50;
}
.block-aqua{
    background: #088286;
}

//calendar


/* Month header */
.month {
    height:210px;
  ul {list-style-type: none;}
  padding: 15px;
  width: 45%;
  text-align: center;
  float: #{$left};
  ul {
    margin: 0;
    padding: 0;
    li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
      }
  }
  
}

/* Previous button inside month header */
.month {
    .prev {
        float: left;
        // padding-top: 10px;
    }
    .next {
        float: right;
        // padding-top: 10px;
      }
}
 

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#fff;
  width: 55%;
  float:#{$left};
  height: 40px;
  padding:4px;
  border-bottom:1px solid $primary-color;
  border-top-#{$right}-radius: 8px;
  li {
    display: inline-block;
    width: 11.6%;
    color: $primary-color;
    text-align: center;
  }
}
.calendar-container{
    overflow: auto;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    background: #fff;
}
.icon {
    width: 12px;
    display: inline-block;
    margin-right:15px;
    cursor: pointer;
    img {
        #{$left}:0 !important;
    }
}
.sortable-me {
    min-height: 225px;
    .widget {
        min-height:210px;
        
    }
}
.days {
  padding: 10px 0;
  background: #fff;
  margin: 0;
  float:#{$left};
  width: 55%;
  height: 168px;
  
  border-bottom-#{$right}-radius: 8px;
  li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    .active {
        padding: 5px;
        border:2px solid $primary-color; 
        border-radius: 100px;
      }
      .marked{
        padding: 5px;
        background: $primary-color; 
        border-radius: 100px;
        color:#fff;
      }
  }
}

// RADIO BUTTONS
/* The radio */

.radio {
   display: block;
   position: relative;
   padding-#{$right}: 30px;
   margin-bottom: 7px;
   cursor: pointer;
   font-size: 14px;
   font-weight: normal;
   padding-top:2px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
 }
   .checkround{
    &:after {
        left: 2px;
       top: 2px;
       width: 12px;
       height: 12px;
       border-radius: 50%;
       background:$primary-color;  
    }
   }
}

.checkround {
   position: absolute;
   top: 6px;
   #{$right}: 0;
   height: 18px;
   width: 18px;
   background-color: #fff ;
   border-color:#000;
   border-style:solid;
   border-width:1px;
    border-radius: 50%;
&:after {
    content: "";
    position: absolute;
    display: none;
 }
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
   background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */


/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
   display: block;
}


/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff ;
    border-color: $primary-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}



/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff  ;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid ;
    border-color: $primary-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cust-btn{
	margin-bottom: 10px;
	background-color: $primary-color;
	border-width: 2px;
	border-color: $primary-color;
    color: #fff;
    &:hover{
        border-color: $primary-color;
        background-color: #fff;
        color: $primary-color;
        border-radius: 20px;
        transform-style: 2s;
    }
}



/* Style the indicator (dot/circle) */
.btn-civil-empty {
    color: $primary-color;
    border-color: $primary-color;
    background: transparent;
}
.btn-civil-solid {
    color: #fff;
    border-color: $primary-color;
    background: $primary-color;
}

.floater{
    background: $primary-color;
    position: fixed;
    right: -4px;
    top: 44%;
    height: 110px;
    padding: 10px;
    border-radius: 5px;
}
#myModal{
    top:130px;  
    overflow: visible !important;
    .modal-dialog {
        .modal-header {
            padding: 65px 50px 40px;
            background: url(../../images/modal-banner.png);
            .modal-header-logo {
                position: absolute;
                top: -100px;
                left: 37%;
                img {
                    @include breakpoint(isMob){
                       max-width: 90px;
                    }
                }
                @include breakpoint(isMob){
                    left: 31%;
                }

            }
            .close{
                margin-top: -2px;
                position: absolute;
                left: -19px;
                top: -20px;
                background: $primary-color;
                border-radius: 120px;
                padding: 7px 20px 12px;
                font-size: 42px;
                opacity: 1;
                color: #fff;
            }
        }
        .modal-body {
            min-height: 200px;
        }
        .modal-footer {
        }
    }

}
footer{
    padding:20px;
    background: $primary-color;
    a {
        padding:0 10px;
    }  
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}