///////////////////////
/*  ---Needed---  */
///////////////////////
/*
:right ---> :$right
-right ---> -#{$right}
right: ---> #{$right}:

:left  ---> :$left
-left  ---> -#{$left}
left:  ---> #{$left}:

@if ($right == right) {}
@if ($right == left) {}

@include fontSize(16px);

@include breakpoint(isLaptop){}
@include breakpoint(isLaptopHR){}
@include breakpoint(isLaptopLR){}
@include breakpoint(isTab){}
@include breakpoint(isTabLR){}
@include breakpoint(isMob){}
@include breakpoint(isMobHR){}
@include breakpoint(isMobLR){}
@include breakpoint(isIphoneX){}
*/

///////////////////////
/*  ---Variables---  */
///////////////////////

// Text Colors:
$mainColor: mainColor;
$secondColor: secondColor;
$thirdColor: thirdColor;

// Background Colors:
$mainBGColor: mainBGColor;
$secondBGColor: secondBGColor;
$thirdBGColor: thirdBGColor;


////////////////////
/*  ---Mixins---  */
////////////////////

/*  ---Break Points---  */

@mixin breakpoint($point) {

	/************************ Laptop ************************/

	// General
    @if $point == isLaptop {
        @media (max-width: 1680px) { @content; }
		//All
    }

	// High resolution
    @else if $point == isLaptopHR {
        @media (min-width: 1450px) and (max-width: 1680px) { @content; }
		//1560-1600-1680
    }

	// Low resolution
    @else if $point == isLaptopLR {
        @media (max-width: 1440px) { @content; }
		//1280-1360-1366-1440
    }


	/************************ Tablet ************************/

	// Tab
    @else if $point == isTab {
        @media (max-width: 1024px) { @content; }
		//768-1024
    }

	// Low resolution
    @else if $point == isTabLR {
        @media (max-width: 815px) { @content; }
		//768
    }


	/************************ Mobile ************************/

	// General
    @else if $point == isMob {
        @media (max-width: 736px) { @content; }
		//All
    }

	// High resolution
    @else if $point == isMobHR {
        @media (min-width: 415px) and (max-width: 736px) { @content; }
    }

	// Low resolution
    @else if $point == isMobLR {
        @media (max-width: 414px) { @content; }
    }

	// iPhone 5 portrait
    @else if $point == isIphoneX {
        @media (max-width: 320px) { @content; }
    }

	// iPhone X landscape
    @else if $point == isIphoneX {
        @media (max-width: 813px) and (max-height: 375px) { @content; }
    }

}


/*  ---Font Size---  */

@mixin fontSize($size) {
	font-size: $size; // Fallback in px.
	font-size: ($size / 14px) * 1rem;
}

///////////////////////////////
/*  ---Importing plugins---  */
//////////////////////////////

@import "plugins/_bootstrap.scss";


////////////////////
/*  ---Reset---  */
///////////////////
$primary-color : #bd9d50;
$secondary-color : #4d4d4c;
$third-color : #7b8591;

@media (min-width: 1600px){
	.container {
		width: 1570px;
	}
}

* {
    font-family: mainFont , sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    font-size: 15px;
    &:hover , &:focus {
        text-decoration: none;
        outline: 0;
    }
}

button{
    outline:none;
    &:focus {
        text-decoration: none;
        outline: 0 !important;
    }
}
button::-moz-focus-inner {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: mainFont;
}
#layout{
    background: #f0f0f0;
}
#s4-bodyContainer{
	padding-bottom: 0 !important;
}
.card-carousel{
    padding:0 !important;
    .card-icon{
        width:20%;
        display: inline-block;
        position: relative;
        top: -10px;
        #{$right}: 75%;
        img{
            max-width: 100%;
        }
    }
    .carousel-indicators{
        bottom: 10px;
        #{$left}:34%;
        li{
            background-color: #e2d5b6;
            border:0;
        }
        .active{
            background-color:$primary-color;
        }
    } 
}
.force-overflow{
	min-height: 450px;
}
.scrollbar{
	margin-left: 0;
	float: left;
    height: 127px;
	width: 100%;
	overflow-y: scroll;
}
.weather{
    background: url('../../images/sea.jpg') no-repeat;
    background-size: cover;
}
.pray{
    background: url('../../images/mosque.jpg') no-repeat;
    background-size: cover;
    .time{
        border-bottom:1px solid #fff;
        margin-bottom:0;
        line-height: 0.8em;
        span{
            margin:6px 3px;
            display: inline-block;
        }
        .timing{
            font-family: sans-serif;
            width:43%;
        }
    }
}
.sans{
    font-family: sans-serif !important;
}
.document{
    border-bottom:1px solid #eaeaea;
    width: 96%;
    background:url(../../images/download.svg) no-repeat;
    background-position: 1% -1px;
    padding:6px;
    background-size: 8%;

}
#style-1::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#third-carousel{
    .carousel-inner{
        min-height:158px;
    }
    .carousel-indicators {
        bottom: -10px;
        li{
            background-color: #e2d5b6;
            border:0;
        }
        .active{
            background-color:$primary-color;
        }
    }
}
.widget{
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
  padding:30px 15px;
  min-height: 100px;
  overflow: hidden;
  &.falt-pad{
    padding:0;
      
  }  
  &.upper-widgets{
      min-height:350px;
  }
}
.homeContent{
    min-height: 800px;
    margin-top: 60px;
}
a , button{
    text-decoration: none;
    outline: 0;
    &:hover , &:focus {
        text-decoration: none;
        outline: 0;
    }
}

li{
    list-style: none;
}

svg{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h5,h6,p,a,span,div,li{
    font-family: 'GE Flow';
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.noPadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.midPadding{
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
}
.mb0{
    margin-bottom:0;
}
.mb1{
    margin-bottom: 1rem;
}
.mt1{
    margin-top: 1rem;
}
.mb2{
    margin-bottom: 2rem;
}
.mt2{
    margin-top: 2rem;
}
.mb3{
    margin-bottom: 3rem;
}
.mt3{
    margin-top: 3rem;
}
.mb4{
    margin-bottom: 4rem;
}
.mt4{
    margin-top: 4rem;
}
.p2 {
    padding:15px;
}

.navbar{
    margin-bottom:0;
}
.other {
    font-family: sans-serif
}
.grey{
    color:$secondary-color;
}
.round-corner {
    border-radius: 8px;
}
.center-out{
    float: none !important;
    margin:auto !important;
}
.controles{
    ul{
        li{
            display: inline-block;
            width:49%;
        }
    }
}
#navbar-primary{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
}
.main-color{
    color:$primary-color;
    &:hover{
        color:$primary-color !important;
    }
}
.image-circle{
    border-radius: 100%;
    &.avatar{
        max-width:30% !important;
    }
}
.control-icons{
    padding:15px 0;
    ul{
        width:50%;
        text-align:center;
        li {
            display: inline-block;
            width:17%;
            margin:6px;
        } 
    }
}
.navbar-header {
    @include breakpoint(isMob){
        // background:url(../../images/Logo.png) no-repeat!important ;
        // background-position: center top   
    }
    .navbar-toggle{
        border:1px solid grey !important;
        position: relative;
        #{$right}:15px;
        span{
            background:grey !important
        }
    }
}
#navbar-primary .navbar-nav { 
      width: 100%;
      margin:0;
      text-align: center;
      position: relative;
      background-color: rgb(255, 255, 255);
    //   box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
      padding: 25px 5px;
      margin-bottom:0 !important;
      .left-menu-section{
          ul{
              text-align:left;
              @include breakpoint(isMob){
                display: block;
                text-align: center;
            }
          }
      }
      .right-menu-section{
        li{
            &:before{
                content:'|';
            }
            a {
                color:$secondary-color !important;
                font-size: 10px;
                  &:hover {
                      color:$primary-color !important;
                  }
              }
        }
      }
      .icon-nav-bar{
        max-width: 25px;        
      }
      .responsive-logo{
          display: none;
          @include breakpoint(isMob){
            display: block;
            position: relative;
        }
      }
      .logo{
          a {
              position: absolute;
              display: block;
              width:80%;
              background-color: #ffff;
              border-radius: 8px;
              padding: 20px;
              top: -35px;
              //box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1);
              @include breakpoint(isMob){
                display: none;
                position: relative;
                top: 0px;
            }
            img {
                position: relative;
                max-width: 100% !important;
            } 
          }
       
      }
      ul{
          margin-bottom:0; 
          li {
              display: inline-block;
              float: none;
              &.no-dash{
                &:before{
                    content:'';
                    color:$secondary-color;
                  }
              }
              
              @include breakpoint(isMob){
                display:block
              }
              a {
                  padding-right: 10px;
                  font-size: 12px;
                }
            }
        } 
    }

    #secondCarousel {
        .cont-slider{
            min-height: 205px;
        }
        .carousel-indicators {
           bottom: -110px;
           left: 10px;
           margin-left: 5px;
           width: 100%;
       }
         .carousel-indicators {
            li {
               border: medium none;
               border-radius: 0;
               float: left;
               height: 80px;
               width: 80px;
               margin-bottom: 5px;
               margin-left: 0;
               margin-right: 5px !important;
               margin-top: 0;
           }   
           img {
               border: 2px solid #FFFFFF;
               float: left;
               left: 0;
           }
           .active{
             img {
                 border: 2px solid #39b3d7;
             }
           } 
         }  
       }
       
       .carousel-fade {
           .carousel-inner {
               .item {
                   transition-property: opacity;
                   min-height: 150px;
               }
               
               .item,
               .active.left,
               .active.right {
                   opacity: 0;
               }
       
               .active,
               .next.left,
               .prev.right {
                   opacity: 1;
               }
       
               .next,
               .prev,
               .active.left,
               .active.right {
                   left: 0;
                   transform: translate3d(0, 0, 0);
               }
           }
           .carousel-control {
               z-index: 2;
           }
       }

      .overlay {
        width: 100%;
        height: 100%;
        display: block;
        background-color: black;
      }
// five even columns 
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
    padding:7.5px;
    @include breakpoint(isMob){
        width: 100%;
    }
    @include breakpoint(isTob){
        width: 50%;
    }
}
.block{
    padding:20px 6px;
    height: 200px;
    border-radius: 8px;
    img{
        position: relative;
        left:6px;
    }
}
.block-grey{
    background: #616161;
}
.text-white{
    color:#fff
}
.block-blue{
    background: #0aacdc;
}
.block-green{
    background: #098611;
}
.block-orange{
    background: #bd9d50;
}
.block-aqua{
    background: #088286;
}

//calendar


/* Month header */
.month {
  ul {list-style-type: none;}
  padding: 15px;
  width: 45%;
  text-align: center;
  float: #{$left};
  ul {
    margin: 0;
    padding: 0;
    li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
      }
  }
  
}

/* Previous button inside month header */
.month {
    .prev {
        float: left;
        // padding-top: 10px;
    }
    .next {
        float: right;
        // padding-top: 10px;
      }
}
 

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#fff;
  width: 55%;
  float:#{$left};
  height: 40px;
  padding:4px;
  border-bottom:1px solid $primary-color;
  border-top-#{$right}-radius: 8px;
  li {
    display: inline-block;
    width: 11.6%;
    color: $primary-color;
    text-align: center;
  }
}

.icon {
    width: 12px;
    display: inline-block;
    margin-right:15px;
    cursor: pointer;
    img {
        #{$left}:0 !important;
    }
}
.sortable-me {
    .widget {
        min-height:200px;
    }
}
.days {
  padding: 10px 0;
  background: #fff;
  margin: 0;
  float:#{$left};
  width: 55%;
  height: 160px;
  border-bottom-#{$right}-radius: 8px;
  li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    .active {
        padding: 5px;
        border:2px solid $primary-color; 
        border-radius: 100px;
      }
      .marked{
        padding: 5px;
        background: $primary-color; 
        border-radius: 100px;
        color:#fff;
      }
  }
}
