@font-face {
    font-family: 'GE Flow';
    src: url('../fonts/subset-GEFlow.woff2') format('woff2'),
        url('../fonts/subset-GEFlow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GE Flow';
    src: url('../fonts/subset-GEFlow-Bold.woff2') format('woff2'),
        url('../fonts/subset-GEFlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.internalContent{
    padding:0 15px;
    @include breakpoint(isMob){
        padding-right: 15px;
        padding-left: 15px
    }
    
}


/******************breadcrumb*******************/

/************** during meeting *************/
@import '_style2.scss'
