/*
  Created by: Sure UI team.
  Creating Date: 16-4-2018.
  Version: [001].
--------------------------------------------------------------------------------------------------------------
//////////    ///     ///    ////////////    ///////////
///           ///     ///    ///      ///    ///
//////////    ///     ///    ////////////    ///////////
       ///    ///     ///    ///  ///        ///
       ///    ///     ///    ///   ///       ///
//////////    ///////////    ///    /////    ///////////
---------------------------------------------------------------------------------------------------------------
|||     |||  ###        |||||||||||||   |||||||||||        |||||           |||||     |||||
|||     |||  |||             |||        |||               ||| |||         ||| |||   ||| |||
|||     |||  |||             |||        |||||||||||      |||   |||        ||| |||   ||| |||
|||     |||  |||             |||        |||             |||||||||||      |||   ||| |||   |||
 |||||||||   |||             |||        |||||||||||    |||       |||    |||     |||||     |||
---------------------------------------------------------------------------------------------------------------
*/

//////////////////////////////////
/*  ---Directions Variables---  */
//////////////////////////////////

$right: left;
$left: right;
$rtl: rtl;
$ltr: ltr;
$fontName: DroidKufi-Regular;
$secondFont: secondFont;

///////////////////
/*  ---Fonts---  */
///////////////////

@font-face {
    font-family: 'mainFont';	
	src: url('../../fonts/#{$fontName}.eot');
    src: url('../../fonts/#{$fontName}.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/#{$fontName}.woff') format('woff'),
         url('../../fonts/#{$fontName}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


//////////////////////////////
/*  ---Importing Styles---  */
/////////////////////////////

@import "../../scss/_common.scss";
@import "../../scss/_home.scss";